extends layout

block content
  h1.page-header Accounts
  div.table-responsive
    table.table.table-striped.accounts-table
      thead
        tr
          th Authorized?
          th Admin?
          th Name
          th Email
          th Justification
          th Display Name
      tbody
        for account in accounts
          tr
            td.auth
              input.checkbox(type="checkbox", checked=(account.isAuthorized==true ? true : undefined), value='#{account.identifier}', action="./admin/toggleAuthorize")
            td.admin
              input.checkbox(type="checkbox", checked=(account.isAdmin==true ? true : undefined), value='#{account.identifier}', action="./admin/toggleAdmin")
            td.name= account.name
            if account.profile.emails[0]
              td.email= account.profile.emails[0].value
            else
              td.email No Email :(
            td.justification= account.justification
            td.displayName= account.profile.displayName